@charset "UTF-8";

#container{margin:0 auto; max-width:1200px; width:100%;}
#container section{padding:0 0 100px; width:100%;}
#container section h1{margin-top:40px; border-bottom:2px solid #b5b5b5; font-size:25px; text-align: center; padding-bottom:10px; margin-bottom:20px;}

/*1200 720 375*/
@media (max-width: 720px) {
    #container section h1{font-size:18px;}
}